{% extends 'base.html' %}

{% block title %}Live Matches{% endblock %}

{% block content %}
    <div class="mt-4">
        <h1>Live Matches</h1>
        <div class="list-group">
            {% for match in live_matches %}
                <a href="{% url 'scoreboard:match_scoreboard' match.id %}" class="list-group-item list-group-item-action">
                    {{ match.team1.name }} vs {{ match.team2.name }}
                </a>
            {% empty %}
                <p class="list-group-item">No live matches at the moment.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
